<script type="text/javascript">
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        defaultSeriesType: 'spline',
        zoomType: 'x',
        spacingRight: 20
      },
      title: {
        text: 'code4lib 2012 Presentation Voting'
      },
      subtitle: {
        text: 'Drag to zoom'
      },
      xAxis: {
        type: 'datetime',
        maxZoom: 6 * 3600000, // six hours
        title: {
          text: "Date/Time (<%= Time.now.zone %>)"
        }
      },
      yAxis: {
        title: {
          text: "Votes (<%= raw(@by.to_s.humanize) %>)"
        },
        maxZoom: 20,
        startOnTick: true,
        showFirstLabel: true
      },
      plotOptions: {
        spline: {
          lineWidth: 2,
          states: {
            hover: {
              lineWidth: 5
            }
          },
          marker: {
            enabled: false,
            states: {
              hover: {
                enabled: true,
                symbol: 'circle',
                radius: 5,
                lineWidth: 1
              }
            }   
          }
        }
      },
      legend: { 
        enabled: false,
        floating: true
      },
      series: <%= render_series_data %>
    });
  });
</script>

<div id="container" class="highcharts-container" style="height:768px; margin: 0 2em; clear:both; min-width: 600px">
</div>

View by:
<%= ['score','normalized_score','deviation_from_median','deviation_from_mean'].collect do |by|
  @by.to_s == by ? by.humanize : link_to(by.humanize, view_url(:election_id => params[:election_id], :by => by, :top => params[:top]))
end.join(' | ').html_safe %>
