<script type="text/javascript">
  var chart;
  $(document).ready(function() {
    var qs = (function(a) {
        if (a == "") return {};
        var b = {};
        for (var i = 0; i < a.length; ++i) {
          var p=a[i].split('=');
          if (p.length != 2) continue;
          b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
        return b;
    })(window.location.search.substr(1).split('&'));

    var displayBy = function(params) {
      var label;
      if (params['label']) {
        label = params['label'];
        delete params['label'];
      }
      for (var p in params) {
        qs[p] = params[p];
      }
      chart.showLoading();
      $.getJSON(document.location.pathname, qs).success(function(data,status,xhr) { 
        while(chart.series.length > 0) {
          chart.series[0].remove(false);
        }
        chart.counters.color = 0;
        $.each(data, function(i,d) { 
          chart.addSeries(d,false,false);
        });
        label && $(chart.yAxis[0].axisTitle.element).text('Votes (' + label + ')');
        chart.redraw(false);
        chart.hideLoading();
      }); 
      return false;
    }

    var resizeChart = function() {
      var c = $('#container');
      c.height($(window).height()-16);
      chart && chart.setSize(c.width(), c.height(), false);
    };
    $(window).resize(resizeChart);
    resizeChart();
    
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        defaultSeriesType: 'spline',
        zoomType: 'x',
        reflow: false,
        spacingRight: 20
      },
      title: {
        text: 'code4lib 2012 Presentation Voting'
      },
      subtitle: {
        text: 'Drag to zoom'
      },
      xAxis: {
        type: 'datetime',
        maxZoom: 6 * 3600000, // six hours
        title: {
          text: "Date/Time (<%= Time.now.zone %>)"
        }
      },
      yAxis: {
        title: {
          text: "Votes (<%= raw(@by.to_s.humanize) %>)"
        },
        maxZoom: 20,
        startOnTick: true,
        showFirstLabel: true
      },
      plotOptions: {
        spline: {
          lineWidth: 2,
          states: {
            hover: {
              lineWidth: 5
            }
          },
          marker: {
            enabled: false,
            states: {
              hover: {
                enabled: true,
                symbol: 'circle',
                radius: 5,
                lineWidth: 1
              }
            }   
          }
        }
      },
      legend: { 
        enabled: false,
        floating: false,
        style: { height: '200px' },
        itemStyle: { 'font-size': '80%' }
      },
      series: <%= render_series_data %>
    });
    
    $('select.replace-data').change(function() { displayBy($(':selected',this)[0].dataset); return false });
  });
</script>

<%= render(:partial => 'nav_links') %>
<div id="container" class="highcharts-container" style="height:768px; margin: 0 2em; position: relative; min-width: 600px">
</div>
